numpy>=1.10.2
scipy>=0.16.1
scikit-image>=0.11.3
pytz>=2016.4
joblib>=0.9.0
av>=0.3.0
pytest>=2.8.5
pytest-cov>=2.2.1
pytest-flake8>=0.5
git+git://github.com/nebw/saliency-localizer.git#egg=saliency-localizer
git+git://github.com/BioroboticsLab/bb_binary.git#egg=bb_binary

