numpy>=1.10.2
scipy>=0.16.1
scikit-image>=0.10.0
pytz>=2014.0
joblib>=0.9.0
pytest>=2.8.5
pytest-cov>=2.2.1
pytest-flake8>=0.5
mpi4py>=2.0.0
git+https://github.com/BioroboticsLab/bb_binary.git#egg=bb_binary
git+https://github.com/BioroboticsLab/diktya.git#egg=diktya
